# MinIO / S3 (local)
S3_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=minio
MINIO_SECRET_KEY=minio123
AWS_ACCESS_KEY_ID=minio
AWS_SECRET_ACCESS_KEY=minio123
AWS_DEFAULT_REGION=us-east-1
RAW_BUCKET=lakehouse-raw

# Trino
TRINO_HOST=localhost
TRINO_PORT=8080

# dbt
DBT_PROFILES_DIR=./dbt
