.venv/
__pycache__/
*.pyc
.env

dbt/target/
dbt/logs/
dbt/dbt_packages/

dbt_parent/target/
dbt_parent/logs/
dbt_parent/dbt_packages/

dbt_analytics/target/
dbt_analytics/logs/
dbt_analytics/dbt_packages/

.DS_Store

k3d/manifests/dbt-env-secret.yaml
