apiVersion: v1
kind: Secret
metadata:
  name: dbt-env
  namespace: data-platform
type: Opaque
stringData:
  TRINO_HOST: host.k3d.internal
  TRINO_PORT: "8080"
  DBT_TARGET: dev
  # STARburst_PASSWORD: ""
